/* .container{

    height: 100vh;
    max-width: 99vw !important;

}

.eventCardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.eventBox{
    width: 30vw !important;
} */