.eventContainer{
    height: 100vh;
    max-width: 100vw;
}

.rootContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
    height: max-content;
}

.card {
    height: 100%;
    width: 80% !important;
    margin-right: 56px;
  }
  

  #recentEventTitles{
    margin-top: 40px;
  }

  @media only screen and (max-width: 600px) {

  .rootContainer{
    grid-template-columns: repeat(1,1fr);
  }


  .card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 96% !important;
  }

  }