
.rsvpSec{
  height: auto;
}

.RSVPcontainer {
  margin-top: 5px;
  margin-bottom: 40px;
  padding-top: 10px;
  width: 90%;
  padding: 40px;
  border-radius: 8px;
}

.formDesc {
  color: white;
  opacity: 0.7;
  margin: 24px 0px;
}

.outer {
  display: flex;
  justify-content: center;
}

.center {
  margin-left: 30%;
}

.formInput , .formInput:focus {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 12px;
}

.formInput::placeholder{
  color: white;
  opacity: 0.3;
}


.textcolor {
  color: azure;
}

option {
  color: black;
}