.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section > img {
    margin-left: 10px;
}

.hero-section > p {
    font-size: 24px;
    font-weight: 700;
    width: 55%;
    text-align: center;
    margin-top: 32px;
}

@media only screen and (max-width: 600px) {

    .hero-section > p {
        width: 90%;
    } 

}