.navbar-container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 5%;
}

.nav-items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  width: max-content;
  padding: 20px 60px ;
  border-radius: 6px;
}

.active{
  opacity: 1 !important;
}

.nav-items > * {
  margin-right: 30px;
  font-size: 21px;
  font-family: "Poppins";
  font-weight: 600;
  cursor: pointer;
}

.nav-items > * > img{
  display: none;
}

.nav-items > *:last-child{
  margin-right: 0%;
}

@media only screen and (max-width: 600px) {

  .nav-items > * > span{
    display: none;
  }

  .nav-items > * > img{
    display: block;
  }
 
  .nav-items{
    padding: 24px 40px;
    width: 90%;
  }

}