.overlay {
  background: white;
  /* mix-blend-mode: overlay; */
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.6;

}



body {
  background: #000;
  height: 100vh;
  width: 100vw;
  background-image: url(../src/assets/Images/bg.jpg);
  background-size: cover;
  overflow-x: hidden;
  background-attachment: fixed;
}

.bg{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -10;
}

.bg-spin {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -10;
  background-image: url(../src/assets/Images/Group\ 2.svg);
  background-size: cover;
  overflow: hidden;
}

.border {
  border: 2px solid black;
}

section {
  display: block;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}

.multiline {
  white-space: pre-wrap;
}

.glass {
  background: linear-gradient(186.43deg,
      rgba(255, 255, 255, 0.08) 1.03%,
      rgba(255, 255, 255, 0.1) 99.57%);
  box-shadow: 14px 0px 48px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2.5px);
}

.icons{
  height: 0.9em;
  width: 0.9em;
}



@media only screen and (max-width: 600px) {
  section {
    height : 85vh;
  }
}