
p{
  margin: 0;
}

.box1, .box {
  width: fit-content;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 6px;
  padding: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 172%;
  /* or 34px */


  color: #FFFFFF;
}

.box2 {


  border-radius: 11px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

div h2 {
  left: 22px;
  top: 20px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  mix-blend-mode: overlay;
  opacity: 0.7;
}

div h3 {
  left: 22px;
  top: 114px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}

div hr {
  color: #ffffff;
  mix-blend-mode: overlay;
  opacity: 0.3;
}

a {
  text-decoration: none;
  float: right;
}

button {
  background: transparent;
  border: none;
}

.event-card-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;

  color: #FFFFFF;

  mix-blend-mode: overlay;
  opacity: 0.7;
}

.eventDetails{
  text-transform: capitalize;
}

.eventCard-container{
  height: 70%;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eventCard-container > div:not(:nth-child(3)) {
  height: 100%;
  width: 30%;
  margin-right: 56px;
}

.eventCard-container > div:nth-child(3){
  display: flex;
}

.summary{
  margin-top: 8px;
  
}

.box1 > a, .box > a {
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

@media only screen and (max-width: 600px) {

  .eventCard-container{
    flex-direction: column;
  }

  .box1:nth-child(2){
    display: none;
  }

  .eventCard-container > div:nth-child(1) , .eventCard-container > div:nth-child(3){
    width: 100%;
    height: max-content;
    margin: 0 0 20px 0;
    justify-content: center;
  }

  .titles{
    font-size: 23px;
  }

}