.team-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.titles {
  margin-bottom: 0% !important;
}

.team-content {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 700;
  width: 50%;
  text-align: center;
}

.btn {
  padding: 16px 24px;
}

.btn>span {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.textLeft {
  text-align: left;
}

.loadingDiv {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  /* background: url('./images/background.jpg') no-repeat center center / cover; */
  margin: auto;
}

.image {
  min-width: 155px;
  margin-right: 20px;
}

.stats {
  /* background: url('./images/background.jpg') no-repeat center center / cover; */
  color: #000 !important;
}

.articles {
  font-size: 10px;
  color: #a1aab9;
}

.number1 {
  font-weight: 500;
}

.followers {
  font-size: 10px;
  color: #a1aab9;
}

.number2 {
  font-weight: 500;
}

.rating {
  font-size: 10px;
  color: #a1aab9;
}

.number3 {
  font-weight: 500
}

@media only screen and (max-width: 600px) {

  .team-content {
    font-size: 16px;
    width: 100%;
  }


  .team-container {
    justify-content: center;
  }

  .btn{
    margin-top: 80px;
  }
}