/* Three columns side by side */
/*.column {
    float: left;
    width: 15%;
    margin-top: 250px;
    margin-left: 32px;
    padding: 0 8px;
    
  }*/
  
  /* Display the columns below each other instead of side by side on small screens */
 /* @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }*/
  
  /* Add some shadows to create a card effect */
  /*.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  }*/
  
  /* Some left and right padding inside the container */
 /* .container {
    padding: 0 16px;
  }*/
  
  /* Clear floats */
  /*.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: black;
  }
  */

  body {
    background-color: #b3e5fc;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    
  }
  h2 {
    text-align: center;
    margin: 20px 0;
  }
  .textLeft {
    text-align: left;
  }
  .loadingDiv {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  .card {
    width: 450px;
    border: none;
    border-radius: 10px;
    background: url('./images/background.jpg') no-repeat center center / cover;
    margin: auto;
  }
  .image {
    min-width: 155px;
    margin-right: 20px;
  }
  .stats {
    background: url('./images/background.jpg') no-repeat center center / cover;
    color: #000 !important;
  }
  .articles {
    font-size: 10px;
    color: #a1aab9;
  }
  .number1 {
    font-weight: 500;
  }
  .followers {
    font-size: 10px;
    color: #a1aab9;
  }
  .number2 {
    font-weight: 500;
  }
  .rating {
    font-size: 10px;
    color: #a1aab9;
  }
  .number3 {
    font-weight: 500}
  