.team-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.titles {
  margin-bottom: 0% !important;
}

.team-content {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 700;
  width: 50%;
  text-align: center;
}

.btn {
  padding: 16px 24px;
}

.btn>span {
  font-size: 24px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {

  .team-content {
    font-size: 16px;
    width: 100%;
  }


  .team-container {
    justify-content: center;
  }

  .btn{
    margin-top: 80px;
  }
}